*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 65%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color:white;
}
input{
    width: 60%;
    padding: 20px;
}
.searchbar{
    padding: 40px;
    text-align: center;
}
.box{
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box:hover{
    background-color: black;
    color: white;
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 25px;
    padding: 25px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px;
}
